/*COLOR PALETTE:
89EF51 //Brillante
88B272 //Tira a gris
5DA337 //PRINCIPAL rgb(93,163,55)
B7EF99 //Muy claro
407026 //Oscuro rgb(64,112,38)
*/

body{
	/*background-color: #fff;*/
	padding-top: 80px;
	background-color: #EEE;
}

p{
	text-align: left;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: black;
}

/*Evitar que aparezca un bordeado al hacer focus*/
button:focus, select:focus, input:focus, textarea:focus {
	outline: none;
}

/*.menuPrincipal h1{
	color: #407026;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}*/

.navbar{
	background: rgba(93,163,55,1);
	background: -moz-linear-gradient(top, rgba(93,163,55,1) 0%, rgba(64,112,38,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(93,163,55,1)), color-stop(100%, rgba(64,112,38,1)));
	background: -webkit-linear-gradient(top, rgba(93,163,55,1) 0%, rgba(64,112,38,1) 100%);
	background: -o-linear-gradient(top, rgba(93,163,55,1) 0%, rgba(64,112,38,1) 100%);
	background: -ms-linear-gradient(top, rgba(93,163,55,1) 0%, rgba(64,112,38,1) 100%);
	background: linear-gradient(to bottom, rgba(93,163,55,1) 0%, rgba(64,112,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5da337', endColorstr='#407026', GradientType=0 );

	/*background: #eee !important;*/
	/*margin-top: 10px;
	margin-bottom: 15px;*/
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	/*border-bottom: 3px solid #407026;*/
	/*box-shadow: 3px 3px rgba(64,112,38,0.3);*/
}

.navbar-brand{
	color: #eee !important;
	/*color: #407026 !important;*/
    font-size: 30px;
}

.navbar-light .navbar-toggler{
	border: 0px;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("../img/menuIconBig.png") !important;
}

.nav-link{
	color: #eee !important;
}

.nav-link .active{
	color: #407026 !important;
}

nav img{
	height: 30px;
}

.carousel-inner{
    background-color: #dfdfdf;
}

.carousel-inner p{
	padding: 25px;
}

.carousel-indicators{
	margin-top: 10px;
	margin-bottom: -10px;
    position: static;
}

.carousel-indicators li{
    background-color: #407026;
	opacity: 0.5;
    height: 9px;
    width: 50px;
}

.carousel-indicators .active{
	background-color: #407026;
	opacity: 1;
    height: 7px;
    margin-top: 2px;
    width: 50px;
}

.carousel-control-prev,.carousel-control-next{
	color: #407026 !important;
    font-size: 55px;
    opacity: 1;
}

.fondoVerde{
	background: rgba(183,239,153,0.75);
	background: -moz-linear-gradient(-45deg, rgba(183,239,153,0.75) 0%, rgba(183,239,153,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(183,239,153,0.75)), color-stop(100%, rgba(183,239,153,1)));
	background: -webkit-linear-gradient(-45deg, rgba(183,239,153,0.75) 0%, rgba(183,239,153,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(183,239,153,0.75) 0%, rgba(183,239,153,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(183,239,153,0.75) 0%, rgba(183,239,153,1) 100%);
	background: linear-gradient(135deg, rgba(183,239,153,0.75) 0%, rgba(183,239,153,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ef99', endColorstr='#b7ef99', GradientType=1 );

	/*background: rgba(136,178,114,0.75);
	background: -moz-linear-gradient(-45deg, rgba(136,178,114,0.75) 0%, rgba(136,178,114,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(136,178,114,0.75)), color-stop(100%, rgba(136,178,114,1)));
	background: -webkit-linear-gradient(-45deg, rgba(136,178,114,0.75) 0%, rgba(136,178,114,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(136,178,114,0.75) 0%, rgba(136,178,114,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(136,178,114,0.75) 0%, rgba(136,178,114,1) 100%);
	background: linear-gradient(135deg, rgba(136,178,114,0.75) 0%, rgba(136,178,114,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b272', endColorstr='#88b272', GradientType=1 );
*/
}

.icono_app{
    margin-left: 20px;
    margin-top: 10px;
}

.icono_app img{
	width: 35px;
	height: 35px;
}

.botonera_menuL{
	display: none;
	margin: 20px;
	margin-top: 40px;
    margin-left: -40px;
}

.btn_menuL{
	display: block;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	color: #000;
	line-height: 35px;
}
.btn_menuL:hover{
	color: #407026;
}

.botonera_menuL img{
	width: 20px;
	height: 20px;
}

.btn_main img{
	width: 30px;
	height: 30px;
	margin-right: 7px;
	/*position: absolute;
	left: 0px;*/
}

.btn_main{	
	padding: 15px 25px; /*Responsive*/
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 40%; /*Responsive*/
    height: 65px;
    font-size: 16px;
    overflow: hidden;
    border: 3px solid rgba(93,163,55,1);
    /*background: rgba(93,163,55,0.3);*/
    background: rgba(100,175,60,0.3);
	background: -moz-linear-gradient(top, rgba(100,175,60,0.3) 0%, rgba(64,112,38,0.3) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(100,175,60,0.3)), color-stop(100%, rgba(64,112,38,0.3)));
	background: -webkit-linear-gradient(top, rgba(100,175,60,0.3) 0%, rgba(64,112,38,0.3) 100%);
	background: -o-linear-gradient(top, rgba(100,175,60,0.3) 0%, rgba(64,112,38,0.3) 100%);
	background: -ms-linear-gradient(top, rgba(100,175,60,0.3) 0%, rgba(64,112,38,0.3) 100%);
	background: linear-gradient(to bottom, rgba(100,175,60,0.3) 0%, rgba(64,112,38,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64af3c', endColorstr='#407026', GradientType=0 );
 }

/*.btn_main:hover{
	color: #5da337;
}*/

h1 img{
	width: 30px;
	height: 30px;
}

.weed_species{
	color: #407026;
	font-style: italic;
}

.info_text{
	line-height: 22px;
	text-align: center; /*Responsive*/
}

.steps_number{
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #5da337;
	border-radius: 100%;
	color: #5da337;
	padding: 5px 8px;
}

.steps_text{
	font-size: 18px;
	font-weight: bold;
	color: #5da337;
	line-height: 27px;
}

.btn_slim, .checkbox{
	padding: 15px 0px;
    width: 250px; /*Responsive*/
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border: none;
    background: rgba(93,163,55,0.3);
    text-align: center;
}

.btn_slim img{
	width: 17px;
	height: 17px;
}

li{
	margin-bottom: 20px;
	text-align: left;
}

.flecha_small{
	margin: 0 35px;
	color: #5da337;
	font-size: 40px;	
	display: inline-block;
}

/*.flecha_small:hover {
	color: #407026;
}*/

.step_circle{
	border: 1px solid #5da337;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 10px;
}

/*#cuadroBusquedaMapa {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 10px 0px;
	text-overflow: ellipsis;
	width: 100%;
}
*/
select{
	/*background-color: #fff;*/
	font-size: 15px;
	font-weight: 300;
	padding: 10px 0px;
	margin-bottom: 10px;
	text-overflow: ellipsis;
	width: 100%;
}

textarea {
	resize: none;
}

input, textarea{
	font-weight: 300;
	border: 0px;
	background: none;
	width: 100%;
	font-size: 15px;
	padding: 10px 0px;
	margin-bottom: 10px;
	text-overflow: ellipsis;
	color: #5DA337;
	background: none;
	border-bottom: 1px solid #5DA337;
}

/*::placeholder {*/
    /*color: #dfdfdf;*/
    /*opacity: 1;*/
/*}*/

.crossMark{
	position: absolute;
	margin-top: 19px;
    left: 95%; /*Responsive*/
	width: 10px;
	height: 10px;
}

#myChart{
	display: block;
	margin: auto;
	height: 500px !important;
	margin-bottom: 20px;
}

.loaderSmall {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #5DA337; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

.hidden {
	display: none !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Para pantallas más pequeñas (md,sm,xs)*/
@media only screen and (max-width: 768px){
	.btn_main{	
		padding: 10px 25px;
		width: 80%;
	}

	.btn_slim, .checkbox{
	    width: 100%;
	}

	.info_text{
		text-align: left;
	}

	.crossMark{
	    left: 90%;
	}

	#myChart{
		height: 360px !important;
	}
}